
<style>
    .fc-event-title {
        cursor: pointer;
    }

    .fc-event-time {
        visibility: hidden;
        height: 0px;
    }

    .fc-event {
        border: #e7eaec !important;
        background-color: transparent !important;
        color: #fff;
        font-size: .85em;
        cursor: default;
    }

    .fc-day-number {
        font-weight: bold;
        font-size: 20px;
    }



    .fc-grid .fc-day-number {
        margin-right: 15px;
        margin-top: 4px;
    }
    /*------------------------*/
    .checkmark {
        display: inline-block;
        width: 22px;
        height: 22px;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);
    }

    .checkmark_circle {
        position: absolute;
        width: 22px;
        height: 22px;
        background-color: green;
        border-radius: 11px;
        left: 0;
        top: 0;
    }

    .checkmark_stem {
        position: absolute;
        width: 3px;
        height: 9px;
        background-color: #fff;
        left: 11px;
        top: 6px;
    }

    .checkmark_kick {
        position: absolute;
        width: 3px;
        height: 3px;
        background-color: #fff;
        left: 8px;
        top: 12px;
    }

    .numberCircleA {
        border-radius: 21%;
        behavior: url(PIE.htc);
        width: 32px;
        height: 30px;
        padding: 8px;
        background: #1ab394;
        border: 2px solid #666;
        color: #FFF;
        text-align: center;
        font: 14px Arial, sans-serif;
    }

    .numberCircleR {
        border-radius: 21%;
        behavior: url(PIE.htc);
        width: 32px;
        height: 30px;
        padding: 8px;
        background: #f8ac59;
        border: 2px solid #666;
        color: #FFF;
        text-align: center;
        font: 14px Arial, sans-serif;
    }

    .modal-backdrop.in {
        opacity: 0;
    }

    .modal-backdrop {
        top: auto;
    }
    .btn
    {
        padding: 2px 12px;
    }
    /**/
    #picinfo {
        float: right;
    }
    /*-----------------------------*/
    .sweet-alert button {
        padding: 0 32px !important;
    }
    /*---------------------------------*/
    /* Absolute Center Spinner */
    .loading {
        position: fixed;
        z-index: 999;
        height: 2em;
        width: 2em;
        overflow: show;
        margin: auto;
        top: 0;
        left: 200px;
        bottom: 0;
        right: 0;
    }

        /* Transparent Overlay */
        .loading:before {
            content: '';
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.3);
        }

        /* :not(:required) hides these rules from IE9 and below */
        .loading:not(:required) {
            /* hide "loading..." text */
            font: 0/0 a;
            color: transparent;
            text-shadow: none;
            background-color: transparent;
            border: 0;
        }

            .loading:not(:required):after {
                content: '';
                display: block;
                font-size: 10px;
                width: 1em;
                height: 1em;
                margin-top: -0.5em;
                -webkit-animation: spinner 1500ms infinite linear;
                -moz-animation: spinner 1500ms infinite linear;
                -ms-animation: spinner 1500ms infinite linear;
                -o-animation: spinner 1500ms infinite linear;
                animation: spinner 1500ms infinite linear;
                border-radius: 0.5em;
                -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
                box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
            }

    /* Animation */

    @@-webkit-keyframes spinner {
        0% {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @@-moz-keyframes spinner {
        0% {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @@-o-keyframes spinner {
        0% {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @@keyframes spinner {
        0% {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
</style>


<link href="~/css/fullcalendar.css" rel="stylesheet" />
<script src="~/Scripts/dependencies/fullcalendar.js"></script>
<script src="~/Scripts/dependencies/jquery-ui.min.js"></script>
<link href="~/Content/Custom/smaliakkal/Style/sweetalert.min.css" rel="stylesheet" />
<script src="~/Scripts/dependencies/sweetalert/sweetalert.min.js"></script>
<style>
    @@media screen and (max-width: 700px) {
        .tblstructurecodecls {
            display: none !important;
        }
         .pgeheading {
            margin-top: 8px !important;
        }
        .tblheader {
            display: none !important;
        }

         .tblheaderhide {
            display: inline !important;
        }
         .divinforound{
             display:inline !important;
         }
        .roundmark  {
            display: inline !important;
        }
        .modal-dialog {
            width: 100% !important;
            margin-top:60% !important;
        }
    }

    .circleBase {
        border-radius: 50%;
        behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    }

    .typecngereq {
        width: 20px;
        height: 20px;
        background: red;
        border: 2px solid blue;
    }
    .typecngenormal {
        width: 20px;
        height: 20px;
        background:green;
        border: 2px solid blue;
    }
</style>
<script>
    $.fn.inlineEdit = function (replaceWith, connectWith) {
        $(this).hover(function () {
            $(this).addClass('hover');
        }, function () {
            $(this).removeClass('hover');
        });

        $(this).click(function () {

            var elem = $(this);

            elem.hide();
            elem.after(replaceWith);
            replaceWith.focus();

            replaceWith.blur(function () {

                if ($(this).val() != "") {
                    connectWith.val($(this).val()).change();
                    elem.text($(this).val());
                }

                $(this).remove();
                elem.show();
            });
        });
    };
</script>
<script>
    $(document).ready(function () {
        var URL = window.location.href;
        $("#hdnsiteId").val(URL.match(/(\d+)$/g));
        //loadcalendar();
    });
    /*----------------------------------------------------get customer information----------------------------------------------------------*/
    var getcustinfo = function () {

        var dataRow = {
            'SiteId': $("#hdnsiteId").val()
        }
        $.ajax({
            type: 'GET',
            url: '@Url.Content("~")OnlineOrder/GetCustomerInformation',
            data: dataRow,
            success: function (response) {
                if (response != null) {
                    $("#cstnme").html(response.CUST_NAME);
                    $("#sitname").html(response.SITE_NUMBER);
                    $("#MsiteCust").html(response.CUST_NAME + '-' + response.SITE_NUMBER)
                }
                else {
                    alert("error occurred please contact administrator");
                }
            },
            error: function (xhr, status) {
                sweetAlert("Error", "Please Contact your administrator" + status, "error");
            }
        });
    }
    /*--------------------------------------------------------------fullCalendar--------------------------------------------------------*/
    function loadcalendar() {
        var sourceFullView = { url: '/OnlineOrder/GetDiaryEvents/' };
        var sourceSummaryView = { url: '@Url.Content("~")OnlineOrder/GetDiarySummary?siteId=' + $("#hdnsiteId").val() };
        var CalLoading = true;
        $('#calendar').fullCalendar({
            theme: false,
            header: {
                left: 'prev,next',
                center: 'title',
                right: ''
            },
            defaultView: 'month',
            editable: true,
            allDaySlot: false,
            selectable: true,
            slotMinutes: 15,
            events: {
                url: '@Url.Content("~")OnlineOrder/GetDiaryMonthSummary?siteId=' + $("#hdnsiteId").val(),
                cache: false,
                lazyFetching: true,
                type: 'POST',
                success: function (response) {
                    if (response[0].istrue) {
                        $('.picinfo').show();
                    }
                    else { $('.picinfo').hide(); }
                },
                error: function () {
                    alert('there was an error while fetching events!');
                },
            },
            eventClick: function (calEvent, jsEvent, view) {
                $("#tblstructure").html('<div class="spiner-example"> <div class="sk-spinner sk-spinner-rotating-plane"></div> </div>');
                $('.modal-footer').show();
                 //{
                    $('#Mdate').html($.fullCalendar.formatDate(calEvent.start, 'dddd dd MMMM, yyyy'));
                    $('#hdndate').val($.fullCalendar.formatDate(calEvent.start, 'MM/dd/yyyy'));
                    $('#weekname').html($.fullCalendar.formatDate(calEvent.start, 'dddd'));
                    var dataRow1 = {
                        'SITEID': $('#hdnsiteId').val(),
                        'ShiftDate': $('#hdndate').val(),
                    }
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Content("~")OnlineOrder/ModalDayEventClick',
                        data: dataRow1,
                        success: function (response) {
                            getcustinfo();
                            $("#tblstructure").html(response);
                            if ($.fullCalendar.formatDate(calEvent.start, 'MM/dd/yyyy') < $.fullCalendar.formatDate(new Date(), 'MM/dd/yyyy')) {
                                
                                $('.modal-footer').html('<center><p>For past dates you cannot request for changes to the Plan.</p></center><button type="button" class="btn btn-default" data-dismiss="modal">Close</button>');
                            }
                        },
                        error: function (xhr, status) {
                            sweetAlert("Error", "Please Contact your administrator" + status, "error");
                        }
                    });
                    $("#myModal").modal();
                    $("#myModal").draggable({
                        handle: ".modal-header"
                    });
                //}
                   
            },
            loading: function (bool) {
                if (bool)
                    $('#idloading').show();
                else
                    $('#idloading').hide();
            },
            eventAfterAllRender: function (view) {
                // alert('all events are rendered'); // remove your loading
            },
            disableDragging: true,
            eventRender: function (event, element, view) {
                if (view.name == 'month') {
                    element.find('span.fc-event-title').html(element.find('span.fc-event-title').text());
                }
            },
            dayClick: function (date, allDay, jsEvent, view) {
                $('.modal-footer').show();
                if (!IsDateHasEvent(date)) {
                    if ($.fullCalendar.formatDate(date, 'MM/dd/yyyy') < $.fullCalendar.formatDate(new Date(), 'MM/dd/yyyy')) {
                        sweetAlert('Oops...', 'Invalid Date! You have selected date less than today!', 'error');
                    } else {
                        $('#Mdate').html($.fullCalendar.formatDate(date, 'dddd dd  MMMM, yyyy'));
                        $('#hdndate').val($.fullCalendar.formatDate(date, 'MM/dd/yyyy'));
                        $('#weekname').html($.fullCalendar.formatDate(date, 'dddd'));
                        var dRow = {
                            'SITEID': $('#hdnsiteId').val()
                        };
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Content("~")OnlineOrder/ModalDayClick',
                            data: dRow,
                            success: function (response) {
                                getcustinfo();
                                $("#tblstructure").html(response);
                            },
                            error: function (xhr, status) {
                                sweetAlert("Error", "Please Contact your administrator" + status, "error");
                            }
                        });
                        $("#myModal").modal();
                    }
                }
            },
            viewRender: function (view, element) {
                $('#hdnstartdatemonth').val($.fullCalendar.formatDate($('#calendar').fullCalendar('getView').start, 'MM/dd/yyyy'));

            }

        });
        CalLoading = false;
    }
    function IsDateHasEvent(date) {
        var allEvents = [];
        allEvents = $('#calendar').fullCalendar('clientEvents');
        var event = $.grep(allEvents, function (v) {
            return +v.start === +date;
        });
        return event.length > 0;
    }
    /*---------------------------------------------------------------------------------------------------------------------------------------*/
    $(document).delegate("#btnPopupSave", "click", function () {
        swal({
            title: "Are you sure?",
            text: "You will not be able to edit this data until admin approves or reject!",
            type: "warning",
            showLoaderOnConfirm: true,
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Yes, Save it!",
            cancelButtonText: "No, cancel plx!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
function (isConfirm) {
    if (isConfirm) {

        //$('#calcontainer').hide();
        var cnt = 0;
        $('.form-groupno').each(function () {
            if ($('#hdnoldvalue' + this.id).val() != $("#" + this.id).html()) {
                cnt = cnt + 1;
                var dataRow = {
                    'SiteId': $('#hdnsiteId').val(),
                    'PsplaningId': $('#hdnps' + this.id).val(),
                    'NOLoads': $("#" + this.id).html(),
                    'ProductId': $('#hdnproduct' + this.id).val(),
                    'ShiftId': $('#hdnshift' + this.id).val(),
                };
                $.ajax({
                    type: 'POST',
                    url: "@Url.Content("~")OnlineOrder/SaveCustomerRequest",
                    data: dataRow,
                    success: function (response) {
                        if (response == 'True') {
                        }
                        else {
                        }
                    },
                    error: function (xhr, status) {
                        sweetAlert("Error", "Please Contact your administrator" + status, "error");
                    }
                });
            }
        });
        if (cnt == 0) {
            sweetAlert("Error", "You didn't changed any data" + status, "error");
            return false;
        }
        $("#myModal").modal('hide');

        setTimeout(function () {
            $('#calendar').fullCalendar('refetchEvents');

        }, 2000);
        setTimeout(function () {
            $('#calcontainer').show();
        }, 2000);
        // return false;
        swal("Success!", "Your Request has been sent for Approval.", "success");
    } else {
        swal("Cancelled", "You canceled the changes", "error");
    }
});

    });
    /*---------------------------------------------------------------------------------------------------------------------------------------*/
    $(document).delegate("#btnDiscardChanges", "click", function () {
        //$('#calcontainer').hide();
        $('.form-groupno').each(function () {
            if ($('#hdnoldvalue' + this.id).val() != $("#hdnnewval" + this.id).val()) {
                var dataRow = {
                    'PsplaningId': $('#hdnps' + this.id).val(),
                };
                $.ajax({
                    type: 'POST',
                    url: "@Url.Content("~")OnlineOrder/DiscardCustomerRequest",
                    data: dataRow,
                    success: function (response) {
                        if (response == 'True') {
                        }
                        else {
                        }
                    },
                    error: function (xhr, status) {
                        sweetAlert("Error", "Please Contact your administrator" + status, "error");
                    }
                });
            }
        })
        $("#myModal").modal('hide');

        setTimeout(function () {
            $('#calendar').fullCalendar('refetchEvents');

        }, 2000);
        setTimeout(function () {
            $('#calcontainer').show();
        }, 2000);
        return false;
    });
    /*---------------------------------------------------------------------------------------------------------------------------------------*/


</script>

<div ng-init="onInit()">
    <input type='hidden' id='hdnsiteId'>
    <input type='hidden' id="hdndate" />
    <div class="row s4-notdlg pgeheading" style="margin-top:-62px;">
        <div class="col-md-12">
            <div class="divinforound" style="display:none;float:right;margin-top:-15px;"><table><tr><td><div class="circleBase typecngenormal"></div></td><td>Planned</td></tr><tr><td><div class="circleBase typecngereq"></div></td><td>change Request</td></tr></table></div>
            <div id="picinfo" class="tblstructurecodecls picinfo" style="float:right;">
                <table>
                    <tr>
                        <td><center><img src="~/Content/Custom/smaliakkal/img/pending.png" /></center></td>
                        <td><center><label class="control-label" style="padding-top:3px;">Pending For Approval</label></center></td>
                    </tr>
                </table>
            </div>
            <div id="WOQOD-PageTitle">
                <h1 style="padding-bottom:10px;">
                    Monthly Plan
                </h1>
               
            </div>
         
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="main-slider">

                <div id='calendar' style="width:100%;padding-bottom:50px;"></div>

            </div>
        </div>
    </div>
</div>
<div id="idloading" style="margin-top:100px;display:none;">
    <center>
        <div class="loading">Loading&#8230;</div>
    </center>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="width:50%;margin-right:23%;margin-top:6%;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center><h4 class="modal-title" style="font-weight:bold;" id="MsiteCust">Site# - Cust#</h4></center>
                <center><h3 class="modal-title" id="Mdate">Sunday 25 May,2016</h3></center>
            </div>
            <div class="modal-body">
                <center id="divinfo">
                    <table class="">
                        <tr>
                            <td style="padding:5px;"><center><div class="numberCircleA"></div></center></td>
                            <td style="padding:5px;"><label class="control-label">Planned Value</label></td>
                            <td style="padding:5px;"><center><div class="numberCircleR"></div></center></td>
                            <td style="padding:5px;"><label class="control-label">Requested Value</label></td>
                        </tr>

                    </table>
                </center>
                <center>
                    <div class="row" style="margin-top:30px;">
                        <div class="col-md-12">
                            <div id="tblstructure" style="width:100%;overflow:auto;">

                            </div>
                        </div>
                    </div>
                </center>

                <center id="rdobtns">

                </center>


            </div>

            <div class="modal-footer" id="ftr">
                @*<button type="button" class="btn btn-primary" id="btnPopupSave">Save</button>*@
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
