@model string
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" />
    <meta name="author" />
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/")_catalogs/masterpage/xPortal/style library/common/images/xportal/icons/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2" />

    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>

    <meta name="GENERATOR" content="Microsoft SharePoint" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Expires" content="0" />
    <title>Online Ordering</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angularbasic")

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/")_layouts/15/1033/styles/Themable/corev150a18.css?rev=ox%2BqLd6WTqhn6d%2FMqf2BMw%3D%3D" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/")_layouts/15/1033/styles/Themable/searchv1597ec.css?rev=qarmmE3eURu3ZS2Wsbpf2w%3D%3D" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/")css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/")_catalogs/masterpage/xPortal/style%20library/common/Plugins/malihu/jquery.mCustomScrollbar.css" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/")_catalogs/masterpage/xPortal/style%20library/en-US/styles/layout.min.css" />
    @*@Styles.Render("~/font-awesome/css")*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/")_catalogs/masterpage/xPortal/style%20library/en-US/styles/fonts_icons.min.css" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/")_catalogs/masterpage/xPortal/style%20library/en-US/styles/style_guide.min.css" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/")fonts/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/")_catalogs/masterpage/xPortal/style%20library/common/Plugins/ferroMenu/jquery.ferro.ferroMenu.css" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/")_catalogs/masterpage/xPortal/style%20library/en-US/styles/common.min.css" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/")_catalogs/masterpage/xPortal/style%20library/common/styles/common.min.css" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/")_catalogs/masterpage/xPortal/style%20library/en-US/styles/inners.min.css" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/")_catalogs/masterpage/xPortal/style%20library/en-US/styles/waq_media_queries.min.css" />


    <style>
        .wcursor {
            cursor: pointer;
        }
    </style>
</head>
<body class="pattern-1 color-1 mainBody" >
    <div id="s4-workspace">
        <div id="s4-bodyContainer">

            <span id="DeltaPlaceHolderMain">
            </span>
            <div id="mainMenuCont" class="transitionOpacity transitionZindex s4-notdlg">
                <div class="mainMenuInnerCont pull-right">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-2 noindex">
                                <div id="DeltaTopNavigation" class="ms-displayInline">


                                    <a name="startNavigation">
                                    </a>

                                    <div id="zz1_TopNavigationMenu" class=" noindex ms-core-listMenu-horizontalBox">
                                        <ul id="zz2_RootAspMenu" class="root ms-core-listMenu-root static">
                                            <li class="static">
                                                <a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" accesskey="1"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">HOME</span></span></a><ul class="static">
                                                    <li class="static dynamic-children selected">
                                                        <a class="static dynamic-children selected menu-item ms-core-listMenu-item ms-displayInline ms-core-listMenu-selected ms-navedit-linkNode" tabindex="0"><span aria-haspopup="true" class="additional-background ms-navedit-flyoutArrow dynamic-children"><span class="menu-item-text">About Us</span><span class="ms-hidden">Currently selected</span></span></a><ul class="dynamic">
                                                            <li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Vision, Mission &amp; Values</span></span></a></li>
                                                            <li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Board Members</span></span></a></li>
                                                            <li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Management Team</span></span></a></li>
                                                            <li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Corporate Social Responsibility</span></span></a></li>
                                                            <li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">QHSSE</span></span></a></li>
                                                            <li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Investor Relations</span></span></a></li>
                                                            <li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Careers</span></span></a></li>
                                                            <li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" title="Branding Guidelines"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Branding Guidelines</span></span></a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="static dynamic-children">
                                                        <a class="static dynamic-children menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="#"><span aria-haspopup="true" class="additional-background ms-navedit-flyoutArrow dynamic-children"><span class="menu-item-text">Fuel &amp; Retail</span></span></a><ul class="dynamic">
                                                            <li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="#"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Bulk Fuels</span></span></a></li>
                                                            <li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="#"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Service Stations</span></span></a></li>
                                                            <li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="#"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Sidra Stores</span></span></a></li>
                                                            <li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="#"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Auto Care Services</span></span></a></li>
                                                            <li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="#"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Fuel Distribution</span></span></a></li>
                                                            <li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="#"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Bunkering</span></span></a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="static dynamic-children">
                                                        <a class="static dynamic-children menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="#"><span aria-haspopup="true" class="additional-background ms-navedit-flyoutArrow dynamic-children"><span class="menu-item-text">Lubricants</span></span></a><ul class="dynamic">
                                                            <li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="#"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Products</span></span></a></li>
                                                            <li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="#"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">OEM Approvals</span></span></a></li>
                                                            <li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="#"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Distributors</span></span></a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="#"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Bitumen</span></span></a></li>
                                                    <li class="static dynamic-children">
                                                        <a class="static dynamic-children menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="#"><span aria-haspopup="true" class="additional-background ms-navedit-flyoutArrow dynamic-children"><span class="menu-item-text">Gas</span></span></a><ul class="dynamic">
                                                            <li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="#"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">SHAFAF</span></span></a></li>
                                                            <li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="#"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Commercial LPG</span></span></a></li>
                                                            <li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="#"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Compressed Natural Gas</span></span></a></li>
                                                            <li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="#"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Services</span></span></a></li>
                                                            <li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="#"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">FAQs</span></span></a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="static dynamic-children">
                                                        <a class="static dynamic-children menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="#"><span aria-haspopup="true" class="additional-background ms-navedit-flyoutArrow dynamic-children"><span class="menu-item-text">MEDIA CENTER</span></span></a><ul class="dynamic">
                                                            <li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="#"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">News &amp; Announcments</span></span></a></li>
                                                            <li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="#"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Events</span></span></a></li>
                                                            <li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="#"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Awareness Campaigns</span></span></a></li>
                                                            <li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="#"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Promotions</span></span></a></li>
                                                            <li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="#"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Media Contact</span></span></a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="static dynamic-children">
                                                        <a class="static dynamic-children menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="#"><span aria-haspopup="true" class="additional-background ms-navedit-flyoutArrow dynamic-children"><span class="menu-item-text">Business With WOQOD</span></span></a><ul class="dynamic">
                                                            <li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="#"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Our Business</span></span></a></li>
                                                            <li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="#"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Tenders</span></span></a></li>
                                                            <li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="#"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Rent a Shop</span></span></a></li>
                                                            <li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="#"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Become a Retail Supplier</span></span></a></li>
                                                            <li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="#"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Gas Contractors For LPG Tank Installation</span></span></a></li>
                                                            <li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="#"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Petrol Stations Equipment</span></span></a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="static dynamic-children">
                                                        <a class="static dynamic-children menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="#"><span aria-haspopup="true" class="additional-background ms-navedit-flyoutArrow dynamic-children"><span class="menu-item-text">Feedback</span></span></a><ul class="dynamic">
                                                            <li class="dynamic"><a class="dynamic menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="#"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Contact Us</span></span></a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="static"><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="#"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Site Map</span></span></a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container s4-notdlg noindex" id="WOQOD-Header">
                <div class="row">
                    <div class="col-sm-2">
                        <div id="mainLogo">


                            <a id="ctl00_logo_hyperlink_logo_sm" title="Home Page" class="innerLogo" href="#"><img title="Home Page" src="@Url.Content("~/")_catalogs/masterpage/xPortal/style%20library/common/images/assets/logo.png" alt="xPortal" /></a>
                            <a id="ctl00_logo_hyperlink_logo_smm" title="Home Page" class="innerLogoOnMenu" href="#"><img title="Home Page" src="@Url.Content("~/")_catalogs/masterpage/xPortal/style%20library/common/images/assets/homeLogo.png" alt="xPortal" /></a>


                        </div>
                        <div id="logoBg">
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div id="mobileSocialAndLineCont" class="hide">
                            <a id="ctl00_instgramContMob" title="Instagram" class="userControl pull-right socialMedia instgramCont" href="https://www.instagram.com/qatarfuelwoqod/"></a>
                            <a id="ctl00_twitterContMob" title="Twitter" class="userControl pull-right socialMedia twitterCont" href="https://twitter.com/QatarFuel_Woqod"></a>
                            <a id="ctl00_faceBookContMob" title="Facebook" class="userControl pull-right socialMedia faceBookCont" href="https://www.facebook.com/qatarfuelwoqod"></a>
                            <a class="numberMob userControl pull-right">
                            </a>
                        </div>
                        <div class="modal fade" id="hotLineMobModal" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">
                                            ×

                                        </button>
                                        <h4 class="modal-title">
                                            <span id="ctl00_call_centerMobItitle" title="Call Center">Call Center</span>
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="callCenterCont">
                                            <div class="lbl">
                                                <span id="ctl00_call_centerMob" title="Call Center">Call Center</span>
                                            </div>
                                            <a class="number font24" href="tel:+974-40217777">
                                                40217777


                                            </a>
                                        </div>
                                        <div class="freeLineCont">
                                            <div class="lbl">
                                                <span id="ctl00_free_numberMob" title="Toll Number">Toll Number</span>
                                            </div>
                                            <a class="number font24" href="tel:+974-800-3835">
                                                800-3835


                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="secondryMenuCont" style="z-index:1">
                            <div class="topRow noindex">
                                @*<div class="userControl pull-right lang-switcher" id="langSwitcherCont">
                                        <script type="text/javascript">
                                            function GetHashfun() {
                                                //check if hash tag exists in the URL
                                                if (window.location.hash) {

                                                    //set the value as a variable, and remove the #
                                                    var hash_value = window.location.hash.replace('#', '');

                                                    //show the value with an alert pop-up
                                                    //alert(hash_value);

                                                    if (hash_value != null) {
                                                        $('a').each(function () {

                                                            var href = this.href;
                                                            if (href.indexOf('?') != -1) {
                                                                href = href + '&' + hash_value;
                                                            }
                                                            else {
                                                                href = href + '?' + hash_value;
                                                            }
                                                            $(this).attr('href', href);
                                                        });
                                                    }
                                                }
                                            }
                                        </script>
                                        <a href="#" id="ctl00_LanguageSwitcher_btnLangSwitcher" title="الوظائف المتاحة">عربي</a>
                                        <span class="sep">
                                        </span>
                                    </div>*@
                                @*<div class="pull-right" id="searchCont">
                                        <a href="#" class="menuLink hide" id="ENsearchCont-box-xxs">
                                            <span id="ctl00_SearchMobEN" title="Search">Search</span>
                                        </a>
                                        <a href="#" class="menuLink hide" id="ARsearchCont-box-xxs">
                                            <span id="ctl00_SearchMobAR" title="Search">Search</span>
                                        </a>
                                        <a href="#" class="menuLink" id="searchCont-box">
                                            <span id="ctl00_Search" title="Search">Search</span>
                                        </a>
                                        <span class="sep">
                                        </span>
                                        <div class="search-area">


                                            <div class="ms-webpart-chrome ms-webpart-chrome-fullWidth ">
                                                <div  HasPers="true" id="WebPartWPQ1" width="100%" class="ms-WPBody " OnlyForMePart="true" allowDelete="false" style="">
                                                    <div componentid="ctl00_ctl57_csr" id="ctl00_ctl57_csr"><div id="SearchBox" name="Control"><div class="ms-srch-sb ms-srch-sb-border" id="ctl00_ctl57_csr_sboxdiv"><input type="text" value="Search..." maxlength="2048" accessKey="S" title="Search..." id="ctl00_ctl57_csr_sbox" autocomplete="off" autocorrect="off" onkeypress="EnsureScriptFunc('Search.ClientControls.html', 'Srch.U', function() {if (Srch.U.isEnterKey(String.fromCharCode(event.keyCode))) {$find('ctl00_ctl57_csr').search($get('ctl00_ctl57_csr_sbox').value);return Srch.U.cancelEvent(event);}})" onkeydown="EnsureScriptFunc('Search.ClientControls.html', 'Srch.U', function() {var ctl = $find('ctl00_ctl57_csr');ctl.activateDefaultQuerySuggestionBehavior();})" onfocus="EnsureScriptFunc('Search.ClientControls.html', 'Srch.U', function() {var ctl = $find('ctl00_ctl57_csr');ctl.hidePrompt();ctl.setBorder(true);})" onblur="EnsureScriptFunc('Search.ClientControls.html', 'Srch.U', function() {var ctl = $find('ctl00_ctl57_csr'); if (ctl){ ctl.showPrompt(); ctl.setBorder(false);}})" class="ms-textSmall ms-srch-sb-prompt ms-helperText" /><a title="Search" class="ms-srch-sb-searchLink" id="ctl00_ctl57_csr_SearchLink" onclick="EnsureScriptFunc('Search.ClientControls.html', 'Srch.U', function() {$find('ctl00_ctl57_csr').search($get('ctl00_ctl57_csr_sbox').value);})" href="javascript: {}"><img src="@Url.Content("~/")_layouts/15/images/searchresultuif030.png?rev=23" class="ms-srch-sb-searchImg" id="searchImg" alt="Search" /></a><div class="ms-qSuggest-container ms-shadow" id="AutoCompContainer"><div id="ctl00_ctl57_csr_AutoCompList"></div></div></div></div></div><noscript><div id="ctl00_ctl57_noscript">It looks like your browser does not have JavaScript enabled. Please turn on JavaScript and try again.</div></noscript><div id="ctl00_ctl57" class="submit-search" style="border-width:0px;">



                                                    </div><div class="ms-clear"></div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="secondryMenuItemCont pull-right">
                                        <a id="ctl00_faqs" title="FAQs" class="menuLink pull-right" href="#">FAQs</a>
                                        <span class="sep">
                                        </span>
                                    </div>
                                    <div class="secondryMenuItemCont pull-right">
                                        <a id="ctl00_Contact_Us" title="Contact Us" class="menuLink pull-right" href="#">Contact Us</a>
                                        <span class="sep">
                                        </span>
                                    </div>
                                    <div class="secondryMenuItemCont pull-right">
                                        <a id="ctl00_Qatarization" title="Qataraization" class="menuLink pull-right" href="#">Qataraization</a>
                                        <span class="sep">
                                        </span>
                                    </div>*@
                                @*<div class="secondryMenuItemCont pull-right">
                                        <a title="Login" ng-click="onInit()" class="menuLink pull-right wcursor">Login</a>
                                    </div>*@
                            </div>
                            @*<div class="bottomRow pull-right">
                                    <a id="ctl00_AwarenessCont" title="Awareness Compaigns" class="userControl pull-right" href="#">Awareness Compaigns</a>
                                    <a id="ctl00_instgramCont" title="Instagram" class="userControl pull-right socialMedia instgramCont" href="https://www.instagram.com/qatarfuelwoqod/"></a>
                                    <a id="ctl00_twitterCont" title="Instagram" class="userControl pull-right socialMedia twitterCont" href="https://twitter.com/QatarFuel_Woqod"></a>
                                    <a id="ctl00_faceBookCont" title="Instagram" class="userControl pull-right social Media faceBookCont" href="https://www.facebook.com/qatarfuelwoqod"></a>
                                </div>*@
                        </div>
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
            </div>
            <div class="container" id="WOQOD-Content" style="min-height:573px;">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="">

                            <div class="row s4-notdlg">
                                <div class="col-md-12">

                                    <span id="DeltaBreadcrumbDropdown">
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-root"><span class="s4-breadcrumb-arrowcont"><span style="height:16px;width:16px;position:relative;display:inline-block;overflow:hidden;" class="s4-clust s4-breadcrumb"><img src="#" alt="" style="position:absolute;left:-0px !important;top:-289px !important;" /></span></span><a class="breadcrumb-root" href="#">Portal</a><ul class="breadcrumb-root"><li class="breadcrumb-node"><span class="s4-breadcrumb-arrowcont"><span style="height:16px;width:16px;position:relative;display:inline-block;overflow:hidden;" class="s4-clust s4-breadcrumb"><img src="#" alt="" style="position:absolute;left:-0px !important;top:-289px !important;" /></span></span><a class="breadcrumb-node" href="#">HOME</a><ul class="breadcrumb-node"><li class="breadcrumb-node"><span class="s4-breadcrumb-arrowcont"><span style="height:16px;width:16px;position:relative;display:inline-block;overflow:hidden;" class="s4-clust s4-breadcrumb"><img src="#" alt="" style="position:absolute;left:-0px !important;top:-289px !important;" /></span></span><a class="breadcrumb-node" href="#">About Us</a><ul class="breadcrumb-node"><li class="breadcrumb-node"><span class="s4-breadcrumb-arrowcont"><span style="height:16px;width:16px;position:relative;display:inline-block;overflow:hidden;" class="s4-clust s4-breadcrumb"><img src="#" alt="" style="position:absolute;left:-0px !important;top:-289px !important;" /></span></span><a class="breadcrumb-node" href="#">Careers</a><ul class="breadcrumb-node"><li class="breadcrumb-node"><span class="s4-breadcrumb-arrowcont"><span style="height:16px;width:16px;position:relative;display:inline-block;overflow:hidden;" class="s4-clust s4-breadcrumb"><img src="#" alt="" style="position:absolute;left:-0px !important;top:-289px !important;" /></span></span><a class="breadcrumb-node" href="#">Pages</a><ul class="breadcrumb-node"><li class="breadcrumb-current"><span class="s4-breadcrumb-arrowcont"><span style="height:16px;width:16px;position:relative;display:inline-block;overflow:hidden;" class="s4-clust s4-breadcrumb"><img src="#" alt="" style="position:absolute;left:-0px !important;top:-289px !important;" /></span></span><span class="breadcrumb-current">Vacancies</span></li></ul></li></ul></li></ul></li></ul></li></ul></li>
                                        </ul>
                                    </span>

                                </div>
                            </div>
                            <style>
                                .frame {
                                    margin-top: 190px;
                                    width: 1152px;
                                    height: 365px;
                                    background-repeat: no-repeat;
                                    background-size: 100%;
                                    background-image: url('@Url.Content("~/")images/logo_bg.jpg');
                                    background-image: -webkit-gradient(linear, left top, right top, color-stop(0.67%,rgba(255,255,255,0.9)), color-stop(20%,rgba(0,0,0,0)), color-stop(80%,rgba(0,0,0,0)), color-stop(98%,rgba(255,255,255,0.9)) ), url('@Url.Content("~/")images/logo_bg.jpg');
                                    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0.9) 0.67%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(255,255,255,0.9) 98% ), url('@Url.Content("~/")images/logo_bg.jpg');
                                    background-image: -moz-linear-gradient(left, rgba(255,255,255,0.9) 0.67%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(255,255,255,0.9) 98% ), url('@Url.Content("~/")images/logo_bg.jpg');
                                    background-image: -ms-linear-gradient(left, rgba(255,255,255,0.9) 0.67%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(255,255,255,0.9) 98% ), url('@Url.Content("~/")images/logo_bg.jpg');
                                    background-image: -o-linear-gradient(left, rgba(255,255,255,0.9) 0.67%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(255,255,255,0.9) 98% ), url('@Url.Content("~/")images/logo_bg.jpg');
                                    background-image: linear-gradient(left, rgba(255,255,255,0.9) 0.67%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(255,255,255,0.9) 98% ), url('@Url.Content("~/")images/logo_bg.jpg');
                                }
                            </style>
                            <div class="row" style="position:absolute;">
                                <div class="frame">

                                </div>
                                @*<div class="frame">
                                        <div class="fade"></div>
                                        <img src="~/images/logo_bg.jpg" style="margin-top:150px;width:1156px;" />
                                    </div>*@
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <section id="home-slider">
                                        <div class="container">
                                            <div class="row">
                                                <div class="main-slider">
                                                    <div class="slidetextlogin" ng-hide="forgotPassword">
                                                        <h2>@Model</h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                @*<div class="col-md-8">
                                        <img src="@Url.Content("~/")images/1.jpg" class="slider-house" alt="slider image">
                                    </div>*@
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
            </div>
            <div class="container s4-notdlg noindex" id="WOQOD-Subsidiaries">
                <div class="row">
                    <div class="col-md-12">
                        <div id="subsidiariesCont">
                            <div class="rightBox">
                                <div class="fakeTable">
                                    <div class="fakeTableCell">

                                        <a id="ctl00_hyperlink_logo_sm1" title="WOQOD International" class="logo1 logo" href="https://www.woqod.com.qa/"></a>
                                        <a id="ctl00_hyperlink_logo_sm2" title="WOQOD Marine Services" class="logo2 logo" href="https://www.woqod.com.qa/net/eng/affiliates/affiliates.aspx?i=833"></a>
                                        <a id="ctl00_hyperlink_logo_sm3" title="QJET" class="logo3 logo" href="http://www.qjetfuel.com/en/"></a>
                                        <a id="ctl00_hyperlink_logo_sm4" title="WOQOD Vehicles inspection (fahes)" class="logo4 logo" href="http://www.fahes.com.qa/"></a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer id="footer" class="noindex">
                <div class="container">
                    <div class="row">
                        <div class="reusable_js">



                            <div class="ms-webpart-chrome ms-webpart-chrome-fullWidth ">
                                <div WebPartID="00000000-0000-0000-0000-000000000000" HasPers="true" id="WebPartWPQ11" width="100%" class="ms-WPBody " OnlyForMePart="true" allowDelete="false" style="">
                                    <div componentid="ctl00_PlaceHolderFooter_g_283cde28_2ca8_46e8_9f80_dabf2c0e11d6_csr" id="ctl00_PlaceHolderFooter_g_283cde28_2ca8_46e8_9f80_dabf2c0e11d6_csr"></div><noscript><div id="ctl00_PlaceHolderFooter_g_283cde28_2ca8_46e8_9f80_dabf2c0e11d6_noscript">It looks like your browser does not have JavaScript enabled. Please turn on JavaScript and try again.</div></noscript><div id="ctl00_PlaceHolderFooter_g_283cde28_2ca8_46e8_9f80_dabf2c0e11d6">
                                        <div class="ms-webpart-chrome ms-webpart-chrome-fullWidth ">
                                            <div class="ms-webpart-chrome-title" id="WebPartWPQ10_ChromeTitle">
                                                <span title="" id="WebPartTitleWPQ10" class="js-webpart-titleCell"><h2 style="text-align:justify;" class="ms-webpart-titleText">&nbsp;<span></span><span id="WebPartCaptionWPQ10"></span></h2></span>
                                            </div><div WebPartID="00000000-0000-0000-0000-000000000000" HasPers="true" id="WebPartWPQ10" width="100%" class="ms-WPBody ms-WPBorder ms-wpContentDivSpace " OnlyForMePart="true" allowDelete="false" style="">
                                                <div componentid="ctl00_PlaceHolderFooter_g_283cde28_2ca8_46e8_9f80_dabf2c0e11d6_ctl00_csr" id="ctl00_PlaceHolderFooter_g_283cde28_2ca8_46e8_9f80_dabf2c0e11d6_ctl00_csr"></div><noscript><div id="ctl00_PlaceHolderFooter_g_283cde28_2ca8_46e8_9f80_dabf2c0e11d6_ctl00_noscript">It looks like your browser does not have JavaScript enabled. Please turn on JavaScript and try again.</div></noscript><div id="ctl00_PlaceHolderFooter_g_283cde28_2ca8_46e8_9f80_dabf2c0e11d6_ctl00">

                                                </div><div class="ms-clear"></div>
                                            </div>
                                        </div>

                                    </div><div class="ms-clear"></div>
                                </div>
                            </div>

                        </div>
                        <div class="clear">
                        </div>
                    </div>
                    <!--/ .row-->
                    <div class="row">
                        <div class="adjective clearfix">
                            <div class="copyright">
                                <div class="ms-webpart-chrome ms-webpart-chrome-fullWidth ">
                                    <div WebPartID="00000000-0000-0000-0000-000000000000" HasPers="true" id="WebPartWPQ13" width="100%" class="ms-WPBody " OnlyForMePart="true" allowDelete="false" style="">
                                        <div componentid="ctl00_PlaceHolderFooter_g_283cde28_2ca8_46e8_9f80_dabf2c0e11d72ar_csr" id="ctl00_PlaceHolderFooter_g_283cde28_2ca8_46e8_9f80_dabf2c0e11d72ar_csr"></div><noscript><div id="ctl00_PlaceHolderFooter_g_283cde28_2ca8_46e8_9f80_dabf2c0e11d72ar_noscript">It looks like your browser does not have JavaScript enabled. Please turn on JavaScript and try again.</div></noscript><div id="ctl00_PlaceHolderFooter_g_283cde28_2ca8_46e8_9f80_dabf2c0e11d72ar">
                                            <div class="ms-webpart-chrome ms-webpart-chrome-fullWidth ">
                                                <div class="ms-webpart-chrome-title" id="WebPartWPQ12_ChromeTitle">
                                                    <span title="" id="WebPartTitleWPQ12" class="js-webpart-titleCell"><h2 style="text-align:justify;" class="ms-webpart-titleText">&nbsp;<span></span><span id="WebPartCaptionWPQ12"></span></h2></span>
                                                </div><div WebPartID="00000000-0000-0000-0000-000000000000" HasPers="true" id="WebPartWPQ12" width="100%" class="ms-WPBody ms-WPBorder ms-wpContentDivSpace " OnlyForMePart="true" allowDelete="false" style="">
                                                    <div componentid="ctl00_PlaceHolderFooter_g_283cde28_2ca8_46e8_9f80_dabf2c0e11d72ar_ctl00_csr" id="ctl00_PlaceHolderFooter_g_283cde28_2ca8_46e8_9f80_dabf2c0e11d72ar_ctl00_csr"></div><noscript><div id="ctl00_PlaceHolderFooter_g_283cde28_2ca8_46e8_9f80_dabf2c0e11d72ar_ctl00_noscript">It looks like your browser does not have JavaScript enabled. Please turn on JavaScript and try again.</div></noscript><div id="ctl00_PlaceHolderFooter_g_283cde28_2ca8_46e8_9f80_dabf2c0e11d72ar_ctl00">

                                                    </div><div class="ms-clear"></div>
                                                </div>
                                            </div>

                                        </div><div class="ms-clear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear">
                        </div>
                    </div>
                </div>
            </footer>
            <!-- markup filled by filters in filter pages -->
            <div class="filters-bar">
                <a>
                    <span class="icon-filter">
                    </span>
                    Filters
                </a>
            </div>
            <div class="responsive-filters">
                <div class="filters-cntnr">
                    <div class="close-filters">
                        x



                    </div>
                    <h5>
                        Refine
                    </h5>
                </div>
            </div>

        </div>


        <span class="useless">


            <style type="text/css">
                body {
                    overflow: auto !important;
                }

                    body.menuOn {
                        overflow: hidden !important;
                    }
            </style>
        </span>
        <div class="clear">
        </div>
    </div>


</body>
</html>




